.css-image {
  border: 4px solid green;
}

[alt="javascript roadmap"] {
  border: 4px solid hotpink;
}

/* p b {
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
} */

[procoder ="boom"]{ /* attribute selector */
  background-color: red;
}

#heading{
  color: rgb(0, 0, 255);
}